.catalog{
  max-width: 1090px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  box-sizing: border-box;

  .main-categories{
    max-width: 350px;

    div{
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 40px;
      border-right: 1px solid rgb(175, 166, 166);
      padding-right: 15px;

      img{
        margin-right: 5px;
      }
    }
    div:hover{
      transition: 1s;
      background: rgb(247, 209, 209);
    }
  }

  .sub-categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 65%;

    .sub-category{
      cursor: pointer;
      height: 40px; ;
      width: 45%;
      display: flex;
      align-items: center;
    }

    .sub-category:hover{
      transition: 1s;
      color: rgb(255, 0, 0);
    }
  }

}
