<footer>
  <div class="footer">
    <ul class="contacts">
      <li><img src="assets/velcom.png" alt="velcom">+375 29 302 10 21</li>
      <li><img src="assets/mts.png" alt="mts">+375 29 502 10 21</li>
      <li><img src="assets/phone.png" alt="phone">+375 17 302 10 21</li>
      <li><a href="https://chats.viber.com/21vek.by" target="_blank"><img src="assets/viber2.png" alt="viber">Viber</a></li>
      <li><a href="https://t.me/e21vekbot" target="_blank"><img src="assets/telegram.png" alt="telegram">Telegram</a></li>
      <li><a href="mailto:21@21vek.by" target="_blank"><img src="assets/letter.png" alt="letter">Почта</a></li>
      <li><button><img src="assets/writeus.png" alt="writeus">Написать нам</button></li>
    </ul>
    <ul class="social-links">
      <li><a href="https://vk.com/21vek_by" target="_blank"><img src="assets/vk.png" alt="vk"></a></li>
      <li><a href="https://www.facebook.com/21vek.by/" target="_blank"><img src="assets/facebook.png" alt="facebook"></a></li>
      <li><a href="https://www.instagram.com/21vek.by/" target="_blank"><img src="assets/insta.png" alt="insta"></a></li>
      <li><a href="https://www.youtube.com/channel/UChNfLMJmxWcaMy1oPxxSvog" target="_blank"><img src="assets/youtube.png" alt="youtube"></a></li>
      <li><a href="https://ok.ru/group/51731111018650" target="_blank"><img src="assets/odnoklassniki.png" alt="odnoklassniki"></a></li>
    </ul>
  </div>
</footer>
