<div class="main-page">
  <swiper
  [slidesPerView]="1"
  [loop]= "true"
  [loopedSlides] = "10"
  [spaceBetween]="10"
  [pagination]="{ clickable: true }"
  [autoplay]="{ delay: 2500, disableOnInteraction: false}" class="main-swiper">
		<ng-template *ngFor="let index of rsShopService.arrOfRandomIndexes" swiperSlide>
      <div class="main-swiper-data-wrapper" (click)="goToDetailedPage(rsShopService.popularGoods[index]?.id)">
        <div class="image">
          <img [src]="rsShopService.popularGoods[index]?.imageUrls[0]" alt="photo">
        </div>
        <div class="description">
          <p class="name">{{rsShopService.popularGoods[index]?.name}}</p>
          <p class="price">цена: {{rsShopService.popularGoods[index]?.price}} р.</p>
        </div>
      </div>
    </ng-template>
	</swiper>
  <swiper
  class="popular-goods-swiper"
  [slidesPerView]="1"
  [loop]= "true"
  [loopedSlides] = "10"
  [spaceBetween]="50"
  [pagination]="{ clickable: true }">
		<ng-template *ngFor="let numberOfSlide of rsShopService.numberOfPopularSlides" swiperSlide>
      <div class="popular-goods" *ngFor="let indexOfGoodsInSlide of indexesOfGoodsInSlide">
        <div class="image" *ngIf="(numberOfSlide * 6 + indexOfGoodsInSlide) < rsShopService.popularGoods.length">
          <img [src]="rsShopService.popularGoods[numberOfSlide * 6 + indexOfGoodsInSlide]?.imageUrls[0]" alt="photo"
          (click)="goToDetailedPage(rsShopService.popularGoods[numberOfSlide * 6 + indexOfGoodsInSlide]?.id)">
        </div>
        <div class="description" *ngIf="(numberOfSlide * 6 + indexOfGoodsInSlide) < rsShopService.popularGoods.length">
          <button (click)="goToDetailedPage(rsShopService.popularGoods[numberOfSlide * 6 + indexOfGoodsInSlide]?.id)" class="name">
            {{rsShopService.popularGoods[numberOfSlide * 6 + indexOfGoodsInSlide]?.name | slice:0:70}}
          </button>
          <div class="rating">
            <img src="assets/rating.png" alt="rating" *ngFor="let goodRate of arrayRating(5)">
          </div>
          <p class="price">цена: {{rsShopService.popularGoods[numberOfSlide * 6 + indexOfGoodsInSlide]?.price}} р.</p>
        </div>
      </div>
    </ng-template>
	</swiper>
  <div class="project-description">
    <h4>Описание возможностей и преимуществ приложения:</h4>
    <p>
      RS Shop приложение - это упрощенная версия магазина 21 Век.
      Используя наше приложение вы можете выбрать из большого ассоортимента товаров нужный именно Вам.
      А оригинальный дизайн и понятный интерфейс помогут Вам комфортно осуществить покупку!
    </p>
    <p>
      Данное приложение позволяет Вам пролистать слайдеры с наиболее популярными товарами,
      организован поиск по категориям и товарам. При случайной перезагрузке приложения товары,
      добавленные в корзину, в избранное, в лист ожидания не потеряются - поэтому можете не бояться
      за их сохранность. Ваш заказ будет доставлен Вам в удобно для Вас время и место, благодаря
      форме заполнения доставки заказа, которая при введение некорректных данных Вас сразу же уведомит.
      Не забудьте зарегистрироваться, чтоб появилась возможность оформить заказ.
    </p>
    <p>
      Надеюсь, опыт использования данного приложения будет для Вас приятным.
      Будем рады видеть Вас, Вашу семью и Ваших друзей в своем магазине!!!
    </p>
    <a href="https://youtu.be/5PW9lGRMwO4" target="_blank">Видео работы приложения</a>
  </div>
</div>
