<div class="detailed-goods-page">
  <div class="breadcrumbs">
    <span>{{(category$ | async)?.name}}</span>
    <img src="assets/breadcrumbs.png" alt="arrow">
    <button (click)="rsShopService.goToGoodsOfCategoryPage(categoryId, subCategoryId)">{{(subCategory$ | async)?.name}}</button>
  </div>
  <p class="goods-name">{{(goods$ | async)?.name}}</p>
  <div class="photos">
    <img *ngIf="(goods$ | async)?.rating === 5" src="assets/super.jpg" alt="super" class="super-icon">
    <img [src]="(goods$ | async)?.imageUrls[0]" alt="goods" class="goods-image">
  </div>
  <p class="description">{{(goods$ | async)?.description}}</p>
  <div class="btns-block">
    <button>В корзину</button>
    <button>В избранное</button>
  </div>
</div>
