<div class="navigation-block">
  <img src="../../../../../assets/logo.png" alt="logo" class="shop-log">
  <button><img src="../../../../../assets/goods.png" alt="goods">Каталог товаров</button>
  <input type="text" class="search-input" placeholder="Поиск товаров">
  <button><img src="../../../../../assets/account.png" alt="goods">Аккаунт</button>
  <button><img src="../../../../../assets/basket.png" alt="goods">Корзина</button>
</div>
<div class="navigation-by-categories-wrapper">
  <div class="navigation-by-categories">
    <button>Корзина</button>
    <button>Корзина</button>
  </div>
</div>
